/LeetCode/ReshapeTheMatrix_556/nbproject/private/
/LeetCode/ReshapeTheMatrix_556/build/
/LeetCode/Pascal's Triangle_118/nbproject/private/
/LeetCode/Pascal's Triangle_118/build/
/LeetCode/ValidSudoku_36/nbproject/private/
/LeetCode/ValidSudoku_36/build/
/PASS_LAB211_HaiLT/LAB_SecondHalfLetters/nbproject/private/
/PASS_LAB211_HaiLT/LAB_FruitShop/nbproject/private/
/PASS_LAB211_HaiLT/LAB_EmployeeManagement/nbproject/private/
/CSD_CauPD_LAB1/nbproject/private/
/CSD_CauPD_LAB2/nbproject/private/